<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.css.login">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.ResetPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.CodeBindActivity"
            android:launchMode="singleTask" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.PwdBindActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.jingdong.auth.login.JDAuthActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="jd0d5b0328628f5ba2" />
                <data android:scheme="jingdong.login.auth" />
            </intent-filter>
        </activity>
    </application>
</manifest>