<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.css.ble">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- android10  -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:theme="@style/Wonder.Base">

        <service android:name="com.pingwang.bluetoothlib.server.ELinkBleServer" />

        <activity
            android:name=".ui.WeightMeasureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
        <activity
            android:name=".ui.WeightBondActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
        <activity
            android:name=".ui.WheelBondActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
        <activity
            android:name=".ui.WheelMeasureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
        <activity
            android:name=".ui.DeviceListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
        <activity
            android:name=".ui.DeviceInfoActivity"
            android:theme="@style/WonderTheme.NoExitEnterAnimation" />
    </application>

</manifest>